.top-div {
  width: 80%;
  margin: 2px auto;
  padding: 3px;
}

.page-heading {
  padding: 3px 3px 10px 3px;
  text-align: center;
  font-size: 2.6vw;
  color: hsla(40 90% 50%);
  letter-spacing: 1px;
  font-family: sans-serif;
}

.content {
  border-top: 1px solid;
  padding: 6px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-image.abeliophyllum {
  border: 1px solid;
  width: 40%;
  height: auto;
}

.content-image.ageratum {
  border: 1px solid;
  width: 50%;
}

.content-details {
  letter-spacing: 0.4px;
  line-height: 1.4;
  margin-top: 10%;
  padding: 3px;
  width: 58%;
  height: auto;
}

.ager-details {
  margin-top: 5%;
  width: 48%;
}
